/* File created by Jack Morris on 04/18/16*/

* { 
  color: #333; /* pretty dark gray */
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
  text-align: center;
}

body {
  background: #fafafa;
}

.hidden {
  /*visibility: hidden;*/
  display: none;
}

#header {
  margin-left: 185px;
}

#menu {
  padding: 15px;
  width:140px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#menu > * {
  margin: 15px; 
}

#edit:focus {
  outline: none;
}

.placeSelect {
  width: 80%;
}

optgroup {
  font-size:20px;
}

#map {
  /* Maybe change to dotted border later, I liked that one */
  border: 1px solid #e0e0e0; 
  /* positioning is complicated */
  position: absolute;
  top: 70px; /* room for header */
  left: 185px;
  height: calc(100% - 85px);
  width: calc(100% - 205px);
}

path {
  fill: #e0e0e0; /* really light gray */
  stroke: gray; /* normal gray */
  transform: translateY(0);
}

path:hover {
  fill: gray;
  stroke: #333;
  transform: translateY(-5px); /* hop */   
}

rect {
  /* nodes */
  fill:blue;
  fill-opacity:0.5;
  border-radius: 50%; /*circle haha*/
}


/* Via Materialize CSS */
.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.blue {
  background-color: #2196f3;
}

.teal {
  background-color: #009688;
}

button {
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  /* Important button styling rules */
  border: none;
  border-radius: 2px;
  color: #fff;
  letter-spacing: .5px;
  /* Materialize shadow */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  /* My sizing */
  padding: 15px;
  font-size: 18px;
}

button:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

/* End Materialize CSS */