/* File created by Jack Morris on 04/18/16*/

* { 
  color: #333; /* pretty dark gray */
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
  text-align: center;
}
* > * {
  color: #333; /* pretty dark gray */
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
  text-align: center;
}

body {
  background: #fafafa;
}

#map {
  position: absolute;
  top: 65px; /* room for header */
  left: 150px;
  height: calc(100% - 65px);
  width: calc(100%-150px);
}

path {
  fill: #e0e0e0; /* really light gray */
  stroke: gray; /* normal gray */
  transform: translateY(0);
}

path:hover {
  fill: gray;
  stroke: #333;
  transform: translateY(-5px); /* hop */   
}

rect {
  /* nodes */
  fill:blue;
  stroke:pink;
  stroke-width:5;
  fill-opacity:0.1;
  stroke-opacity:0.9;
}

#menu {
  position:absolute;
  top:0;
  left:5px;
  width:140px;
  height:100%;
  /*border: 5px dashed blue;*/
}

#edit {
  background: none;
  border: 1px solid black;
  padding: 15px;
  font-size: 15px;
}

#edit:focus {
  outline: none;
}